.full-width {
  width: 100%;
}
.comment-buttons {
  display: flex;
  justify-content: flex-end;
  border: none;
  outline: none;
  padding: 10px;
}
.comment-buttons button {
    border-radius: 30px;
    padding: auto;
    width: 70px;
    height: 40px
  }
.cancel-button {
  margin-left: auto;
  background-color: transparent;
  color: black;
  transition: background-color 0.3s;
  border: none;
  outline: none;
}

.cancel-button:hover {
  background-color: #ccc;
  color: black;
  border: none;
  outline: none;
}
